body {
font-family: 'Inconsolata', monospace;
}

.head {
	background-image: url(../img/mm.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center; 
	background-size: cover;
}
body {
margin: 0px 
}
* {
	color: #fff;
	margin: 0;
	padding: 0;
}
.text {
	margin: 260px auto 0px auto;
	width: 600px;
	height: 65px;
	font-size: 60px;
}
.sss {
	width: 100%;
	height: 60px;
	background-image: url(../img/black.jpg);
}
.br {
	text-decoration: none;
	font-size: 20px;

}
.company {
	height:80px;
}
.yy {
	width: 32%;
	margin: 0px auto;
	font-size: 20px;
	text-align: center;
}
.gg {
	background-image: url(../img/blue.jpg);
	width: 100vw;
	height: 200px;
	background-position: center;
	margin: 20px auto;
}
.pp {
	height: 100%;
	width: 80%;
	margin: 0px auto;
	display: flex; 
	justify-content: space-between;
	align-items: center;
}
.ff {
	margin: 40px;
	color:#000;
	text-align: center;
	font-size: 30px;
}
.die {
	display: flex;
	justify-content: space-between;
	height: 20px;
}
.t {
	margin: 260px auto 0px auto;
	width: 615px;
	height: 65px;
	font-size: 60px;
}
.vv{
	display: block;
	margin:  0px auto;
	text-align: center;
	color: #000;
	width: 70%;
}
.oo {
	margin: 0px auto;
	background-image: url(../img/bg3.jpg);
	background-position: center;
	width: 60%; 
	background-size: cover;
}
.rer {
	margin: 0px auto;
	color: #000;	
	font-size: 40px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
.vv {
	width: 80%;
	font-size: 15px;
}
.bbb {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin: 0px auto 50px auto;
	justify-content: space-between;

}
.bb {
	width: calc(100% / 3 - 60px);
	height: 32vh;
	margin: 20px;
	box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
}
#lo {
	height: 80vh;
	width: 100vw;
}
.center {
	height: 50vh;
}
.iui {
	color: #000;
	text-align: center;
	font-size: 35px;
	padding-top: 25px;
}
.lil {
	color: #000;
	display: inline-block;
	font-size: 35px;
}
.xxx {
	height: 35px; 
}
article {
	margin: 0px auto;
	width: 90%;
}
.svs {
	font-family: 'PT Sans Narrow', sans-serif;
}
.ii {
	height: 45vh;
}
.oto {
	padding-top: 30px;	
	margin: 0px auto;
	color: #000;
	text-align: center;
	font-size: 30px;
}
@media (max-width: 1200px) {
	.bb {
		width: 	calc(100% / 3 - 40px);
		height: 32vh;
		margin: 10px;
	}
	.vv {
		font-size: 15px;

	}
}	
@media (max-width: 2560px) {
	.text {
		font-size: 80px;
		width: 750px;
	}
	.yy {
		padding-top: 40px;
		font-size: 30px;
		width: 750px;
	}
	.vv {
		font-size: 30px;
	}
}
@media (max-width: 1440px) {
	.text {
		font-size: 60px;
		width: 616px;
	}
	.bb {
		width: calc(100% / 3 - 40px);
		height: 45vh;
	}
	.vv {
		font-size: 20px;
	}
}
@media (max-width: 1024px) {
	.bb {
		width: calc(100% / 3 - 40px);
	}
	.vv {
		font-size: 18px;
	}
	.text {
		font-size: 48px;
		width: 494px;
	}
}
@media (max-width: 768px) {
	.bb {
		width: calc(100% / 3 - 20px);
		height: 45vh;
	}
	.vv {
		font-size: 14px;
	}
	.text {
		font-size: 48px;
		width: 494px;
		margin-top: 20%;
	}
	.fff {
		margin: 40px;
	}
	.yy {
		font-size: 20px;
		width: 80%;
	}
	.lo {
	margin-bottom: 20px;
	}
	.gg {
		margin-top: 50px;
	}
	.rer {
		padding-bottom: 50px;
	}
	.ff {
	margin: 20px auto;
	}
}

@media (max-width: 480px)  {
	.vv {
		font-size: 36px;
		width: 344px;
	}
	.text {
		font-size: 5px;
	}
	.rrrt {
		display: none;
	}
	.bb {
		width: 100%;
		height: auto;
		padding: 20px 0px;
		font-size: 15px;

	}
	.die {
		width: 100%;
	} 
	.bbb {
		display: block;	
	}
	#lo {
		height: auto;
	}
	.ff {
		font-size: 16px;
	}
}
@media (max-width: 375px) {
	.text {
		font-size: 25px;
		width: 224px;
		margin: 20% auto;
	}
	.yy {
	font-size: 15px;
	height: 80px;
	text-align: center;
	}
    .ff {
	margin: 45px;
    width: 25%;
	font-size: 15px;
    }
    .bb {
    	width: 90%;
    }
    .br {
    	font-size: 14px;
    }
}
@media (max-width: 350px) {
	.text {
		
		width: 255px;
		height: 10px;
	}	
	.yy {
	text-align: center;
	}
	.vv {
		padding-top: 10px;
		font-size: 10px;
		padding-bottom: 10px;
	}
	.bb {
		height: 100%;
	}
	.die {
		width: 50%;
	}
}
